<!-- search form/div -->
<div class="search-div d-flex flex-column align-items-center justify-content-center">
  <button id="close-box" class="tooltip2-tr" data-name="Fechar busca"></button>
  <form  id="form-search"class="d-flex flex-column align-items-center justify-content-center ">
    <div class="search-box d-flex align-items-center justify-content-center">
      <input type="search" name="" id="search-input" placeholder="Insira o nome de um anime :)" list="animes-list">
      <button id="clear-button" class="tooltip" data-name="Limpar busca">
        
      </button>
       <!-- pseudo datalist -->
    <ul class="datalist">

    </ul>

    </div>
   
  </form>



</div>