<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../_css/views/components.css">
    <link rel="stylesheet" href="../_css/views/components/changePassword.css">
    <title>Mudança de senha</title>
</head>

<body>
    <%- include("../partials/preloading.ejs") %>
        <%- include("../partials/menu.ejs") %>
            <div class="overlay">

            </div>
            <div class="container-one-view d-flex justify-content-center align-items-center">

               <form class="form d-flex flex-column gap-1">
                <label for="emailInput" class="form-label " >E-mail</label>
                <input type="email" name="email" id="emailInput" class="form-control text-dark " value="<%=email%>" readonly>

                <label for="passwordInput" class="form-label">Nova senha</label>
                <input type="password" name="password" class="form-control password" id="password-input" placeholder="Insira uma nova senha"> 
                <label for="confirmInput" class="form-label">Confirmar nova senha</label>
                <input type="password" class="form-control password" id="confirm-input"  placeholder="Repita a senha">
                <button class="btn bg-theme" id="submitButton" disabled>
                    Redefinir senha
                </button>
                <input type="hidden" name="acessToken"  id="access-token" value="<%= accessToken%> ">
               </form>
            </div>

            <!-- scripts -->
            <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js"
                integrity="sha512-LUKzDoJKOLqnxGWWIBM4lzRBlxcva2ZTztO8bTcWPmDSpkErWx0bSP4pdsjNH8kiHAUPaT06UXcb+vOEZH+HpQ=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <!-- jQuery -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
                integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <!-- toastr -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
                integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA=="
                crossorigin="anonymous" referrerpolicy="no-referrer" />
            <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"
                integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>

            <!-- own scripts -->
            <script src="../_javascript/components.js" type="module"></script>
            <script src="../_javascript/components/changePassword.js" type="module"></script>
</body>

</html>