/* general */
.container-one-view{
    width: 100vw;
    z-index: 11 !important;
    height: 100vh ;
}
.container-fluid{
    width: 100%;    
}
/* extra small devices */
@media (max-width: 575px) { 
    .container{
        width: 100%;
    }
  

    
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) { 
    .container{
        width: 540px;
      
    }
  
    
    
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  
    .container{
        width: 720px;
      
    }
  
  
    
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .container{
        width: 960px;
      
    }
  
  
 }

 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .container{
        width: 1140x;
      
    }
  
  
}

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .container{
        width: 1320px;
      
    }
  
  
 }