
.d-flex{
    display: flex;
}

.d-block{
    display: block;
}
.d-none{
    display: none;
}
.align-self-center{
    align-self: center;
}
.align-self-end{
    align-self: flex-end;
}
.flex-column{
    flex-direction: column;
}

.align-items-center{
    align-items: center;
}
.align-items-start{
    align-items: start;
}
.align-items-end{
    align-items: end;
}


.flex-row{
    flex-direction: row;
}

.justify-content-start{
    justify-content: start;
}
.justify-content-around{
    justify-content: space-around;
}
.justify-content-between{
    justify-content: space-between;
}

.justify-content-center{
   
    justify-content: center;
}

.flex-wrap{
    flex-wrap: wrap;
}


/* extra small devices */
@media (max-width: 575px) { 
    /* grid */

    .d-grid{
        display: flex;
        border: 1px solid purple;
    }

    /* columns */
    .col{
        width: 100%;
        border: 1px solid yellow;
        height: 100%;
    }
    .col-3{
    
        grid-column: auto / auto;
        
    }

    /* rows */
    .row{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;

    }

    /* gutters */

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) { 
    /* grid */

    .d-grid{
        display: flex;
        border: 1px solid purple;
    }

    /* columns */
    .col{
        width: 100%;
        border: 1px solid yellow;
        height: auto;
    }
    .col-3{
    
        grid-column: 300;
        
    }

    /* rows */
    .row{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }

    /* gutters */

 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  
    /* grid */

    .d-grid{
        display: flex;
       
    }

    /* columns */
    .col{
        width: 100%;
        border: 1px solid yellow;
        height: 100%;
    }
    .col-3{
    
        grid-column: auto / auto;
        
    }

    /* rows */
    .row{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

    }

    /* gutters */


    }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }

 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  
}

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  
 }