
/* extra small devices */
@media (max-width: 575px) { 
    .form{
        width: 30vw;
        padding: 30px 15px;
        background: #3d3d3d65;
        backdrop-filter: blur(2px);
        border-radius: 5px;
        gap: 10px;
        z-index: 99;
    }
    .form-control{
        width: 100%;
        padding: 10px;
        padding: 12px 10px;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: 700;
        color: rgb(44, 44, 44);
        font-family: var(--defaultFont);
        border-radius: 5px;
    }
    .form-label{
        font-size: 16px;
        color: #eee;
        letter-spacing: 1px;
        font-weight: bold;
        font-family: var(--defaultFont);
    }
    
    
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) { 
    .form{
        width: 30vw;
        padding: 30px 15px;
        background: #3d3d3d65;
        backdrop-filter: blur(2px);
        border-radius: 5px;
        gap: 10px;
        z-index: 99;
    }
    .form-control{
        width: 100%;
        padding: 10px;
        padding: 12px 10px;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: 700;
        color: rgb(44, 44, 44);
        font-family: var(--defaultFont);
        border-radius: 5px;
    }
    .form-label{
        font-size: 16px;
        color: #eee;
        letter-spacing: 1px;
        font-weight: bold;
        font-family: var(--defaultFont);
    }
    
    
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  
    .form{
        width: 30vw;
        padding: 30px 15px;
        background: #3d3d3d65;
        backdrop-filter: blur(2px);
        border-radius: 5px;
        gap: 10px;
        z-index: 99;
    }
    .form-control{
        width: 100%;
        padding: 10px;
        padding: 12px 10px;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: 700;
        color: rgb(44, 44, 44);
        font-family: var(--defaultFont);
        border-radius: 5px;
    }
    .form-label{
        font-size: 16px;
        color: #eee;
        letter-spacing: 1px;
        font-weight: bold;
        font-family: var(--defaultFont);
    }
    
    
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .form{
        width: 30vw;
        padding: 30px 15px;
        background: #3d3d3d65;
        backdrop-filter: blur(2px);
        border-radius: 5px;
        gap: 10px;
        z-index: 99;
    }
    .form-control{
        width: 100%;
        padding: 10px;
        padding: 12px 10px;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: 700;
        color: rgb(44, 44, 44);
        font-family: var(--defaultFont);
        border-radius: 5px;
    }
    .form-label{
        font-size: 16px;
        color: #eee;
        letter-spacing: 1px;
        font-weight: bold;
        font-family: var(--defaultFont);
    }
    
    
 }

 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .form{
        width: 30vw;
        padding: 30px 15px;
        background: #3d3d3d65;
        backdrop-filter: blur(2px);
        border-radius: 5px;
        gap: 10px;
        z-index: 99;
    }
    .form-control{
        width: 100%;
        padding: 10px;
        padding: 12px 10px;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: 700;
        color: rgb(44, 44, 44);
        font-family: var(--defaultFont);
        border-radius: 5px;
    }
    .form-label{
        font-size: 16px;
        color: #eee;
        letter-spacing: 1px;
        font-weight: bold;
        font-family: var(--defaultFont);
    }
    
    
}

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  
 }