:root{
    --defaultFont: 'Poppins', sans-serif;
    --spacer: 16px;

    /* colors */
    --color-theme: #4E31AA;
    --color-theme-secondary: #3A1078;
}




/* extra small devices */
@media (max-width: 575px) { 

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) { 

 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  
    
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }

 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  
}

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  
 }
