
body{
    background: url("../../_images/profile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


.profile-picture{
    height: 140px;
    width: 140px;
    border-radius: 50%;
}

.options{
    width: 100%;
}