


body{
    position: relative;
    z-index: 11;
    background: #30303B url("../../_images/random.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

