:root{
    --bg-url: "https://images6.alphacoders.com/659/659627.png"
}


body{
    position: relative;
    z-index: 1;
    background: #30303B url("https://images6.alphacoders.com/659/659627.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* extra small devices */
@media (max-width: 575px) { 

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) { 

 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  
    
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
 
    .form{
        width: 20vw;
        padding: 30px 15px;
        background: #3d3d3d65;
        backdrop-filter: blur(2px);
        border-radius: 5px;
        gap: 10px;
        z-index: 99;
    }
    .form-control{
        width: 100%;
        padding: 12px 10px;
        border-radius: 5px;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: 700;
        color: rgb(121, 121, 121);
        font-family: var(--defaultFont);
    }
    .form-label{
        font-size: 16px;
        color: #eee;
        letter-spacing: 1px;
        font-weight: bold;
        font-family: var(--defaultFont);
    }
 }  

 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  
}

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  
 }